$light: #f8f8fa;

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 14px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: $light;
}
